In [1]:
import pandas as pd
from datetime import datetime

In [2]:
file1 = "BIR.csv"
file2 = "CLS.csv"

In [3]:
def join_df(file1, file2):
    df1 = pd.read_csv(file1)
    df2 = pd.read_csv(file2)
    merged_df = pd.merge(df1, df2, how = "inner", on = ["BOND_CODE", "BASE_DATE"])
    return merged_df 

merged_df = join_df(file1, file2)
print(merged_df.head())

    BASE_DATE         PROD_CODE BOND_CODE RATING_AGENCY   BIR RATING  \
0  30/12/2022  VI18029426102023  VI180294       208095U  1030    AA3
1  30/12/2022  VI18029426102023  VI180294       208095U  1030    AA3
2  30/12/2022  VI18029426102023  VI180294       208095U  1030    AA3
3  30/12/2022  VI18029426102023  VI180294       208095U  1030    AA3
4  30/12/2022  VI18029426102023  VI180294       208095U  1030    AA3

   NOTCH_VARIANCE                   STOCK_NAME  \
0               0  PKNS IMTN 5.010% 26.10.2023
1               0  PKNS IMTN 5.010% 26.10.2023
2               0  PKNS IMTN 5.010% 26.10.2023
3               0  PKNS IMTN 5.010% 26.10.2023
4               0  PKNS IMTN 5.010% 26.10.2023

                           ISSUER_NAME               FACILITY_NAME  \
0  Perbadanan Kemajuan Negeri Selangor  PKNS RM1.7B IMTN PROGRAMME
1  Perbadanan Kemajuan Negeri Selangor  PKNS RM1.7B IMTN PROGRAMME
2  Perbadanan Kemajuan Negeri Selangor  PKNS RM1.7B IMTN PROGRAMME
3  Perbadanan Kemajuan Negeri Selangor  PKNS RM1.7B IMTN PROGRAMME
4  Perbadanan Kemajuan Negeri Selangor  PKNS RM1.7B IMTN PROGRAMME

   OUTSTANDING_AMOUNT  TRADE_RECENCY  TRADE_FREQUENCY  TRADE_TURNOVER  \
0           100000000              3                1               4
1           100000000              3                1               4
2           100000000              3                1               3
3           100000000              3                1               4
4           100000000              3                1               4

   COMPOSITE_LIQUIDITY_SCORE
0                    2.66667
1                    2.66667
2                    2.33333
3                    2.66667
4                    2.66667

In [4]:
print(list(merged_df.columns))

['BASE_DATE', 'PROD_CODE', 'BOND_CODE', 'RATING_AGENCY', 'BIR', 'RATING', 'NOTCH_VARIANCE', 'STOCK_NAME', 'ISSUER_NAME', 'FACILITY_NAME', 'OUTSTANDING_AMOUNT', 'TRADE_RECENCY', 'TRADE_FREQUENCY', 'TRADE_TURNOVER', 'COMPOSITE_LIQUIDITY_SCORE']

In [5]:
print(merged_df.shape)

(2643, 15)

# Exploratory Data Analysis

In [8]:
merged_df.describe()

,BIR,NOTCH_VARIANCE,OUTSTANDING_AMOUNT,TRADE_RECENCY,TRADE_FREQUENCY,TRADE_TURNOVER,COMPOSITE_LIQUIDITY_SCORE
count,2643.000000,2643.000000,2.643000e+03,2643.000000,2643.000000,2643.000000,2643.000000
mean,1038.596292,0.922058,1.557124e+08,3.569807,1.223988,3.226258,2.673351
std,9.902864,1.138073,6.570873e+07,0.911669,0.448481,1.033632,0.525485
min,1030.000000,0.000000,1.000000e+08,2.000000,1.000000,1.000000,1.666670
25%,1030.000000,0.000000,1.000000e+08,3.000000,1.000000,2.000000,2.333330
50%,1030.000000,0.000000,1.000000e+08,3.000000,1.000000,3.000000,2.666670
75%,1050.000000,1.000000,2.045000e+08,4.000000,1.000000,4.000000,3.000000
max,1050.000000,3.000000,2.480000e+08,5.000000,3.000000,5.000000,3.666670

In [11]:
merged_df["COMPOSITE_LIQUIDITY_SCORE"].mean()

2.6733512410140636